In [1]:
import pandas as pd
import numpy as np

In [15]:
path = 'D:/2021\MachineLearning/Class Exercise/Logistic Regression/Logistic Dataset/xAPI-Edu-Data.csv'

data = pd.read_csv(path)

In [16]:
"""data['gender'] = data['gender'].replace(['M','F'],[1,0])
data['Semester'] = data['Semester'].replace(['F','S'],[1,0])
data['Relation'] = data['Relation'].replace(['Father','Mum'],[1,0])"""
data

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

In [4]:
stageID = pd.get_dummies(data['StageID'], drop_first=True)
gender = pd.get_dummies(data['gender'], drop_first=True)
Semester = pd.get_dummies(data['Semester'], drop_first=True)
Relation = pd.get_dummies(data['Relation'], drop_first=True)
SectionID = pd.get_dummies(data['SectionID'], drop_first=True)
ParentAnsweringSurvey = pd.get_dummies(data['ParentAnsweringSurvey'], drop_first=True)
ParentschoolSatisfaction = pd.get_dummies(data['ParentschoolSatisfaction'], drop_first=True)
class1 = pd.get_dummies(data['Class'], drop_first=True)
StudentAbsenceDays = pd.get_dummies(data['StudentAbsenceDays'], drop_first=True)

In [5]:
cols = list(data.columns)
drop_cols = [i for i in cols if data[i].dtype == 'object']
data.drop(drop_cols,axis=1,inplace=True)

In [6]:
data

     raisedhands  VisITedResources  AnnouncementsView  Discussion
0             15                16                  2          20
1             20                20                  3          25
2             10                 7                  0          30
3             30                25                  5          35
4             40                50                 12          50
..           ...               ...                ...         ...
475            5                 4                  5           8
476           50                77                 14          28
477           55                74                 25          29
478           30                17                 14          57
479           35                14                 23          62

[480 rows x 4 columns]

In [7]:
data = pd.concat([data,gender,stageID,Semester,Relation,SectionID,ParentAnsweringSurvey,ParentschoolSatisfaction,class1,StudentAbsenceDays],axis=1)

In [8]:
data

,raisedhands,VisITedResources,AnnouncementsView,Discussion,M,MiddleSchool,lowerlevel,S,Mum,B,C,Yes,Good,L,M,Under-7
0,15,16,2,20,1,0,1,0,0,0,0,1,1,0,1,1
1,20,20,3,25,1,0,1,0,0,0,0,1,1,0,1,1
2,10,7,0,30,1,0,1,0,0,0,0,0,0,1,0,0
3,30,25,5,35,1,0,1,0,0,0,0,0,0,1,0,0
4,40,50,12,50,1,0,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,5,4,5,8,0,1,0,1,0,0,0,0,0,1,0,0
476,50,77,14,28,0,1,0,0,0,0,0,0,0,0,1,1
477,55,74,25,29,0,1,0,1,0,0,0,0,0,0,1,1
478,30,17,14,57,0,1,0,0,0,0,0,0,0,1,0,0
479,35,14,23,62,0,1,0,1,0,0,0,0,0,1,0,0

In [9]:
X = data.drop('Good', axis=1)
y = data['Good']

In [10]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [11]:
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression()

# fit the model with data
logreg.fit(X_train,y_train)

y_pred=logreg.predict(X_test)
print(y_pred)

[1 1 0 1 1 1 1 0 0 0 1 1 1 0 1 0 1 0 0 1 0 1 1 1 1 1 1 0 1 0 0 0 1 1 1 0 1
 1 1 1 1 0 1 1 1 1 1 0 1 1 0 1 1 0 1 1 0 0 1 1 1 1 1 0 1 1 0 1 0 0 0 1 1 1
 1 0 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 0 1 0 1 0 0 0 0 1 1 0 1 0 0 0
 0 1 0 0 1 0 1 0 1]

In [12]:
from sklearn import metrics

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7666666666666667

In [14]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.65      0.68      0.67        41
           1       0.83      0.81      0.82        79

    accuracy                           0.77       120
   macro avg       0.74      0.75      0.74       120
weighted avg       0.77      0.77      0.77       120